Package: com.stackallocated.tiffdisabler
Name: TIFF Disabler
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Disables ImageIO TIFF support to protect against CVE-2016-4631.
Maintainer: Hans Nielsen
Author: Hans Nielsen, Ryan Hileman
Section: Tweaks
